{% extends 'base/base.html' %}

{% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home:index' %}">Principal</a>
        </li>
        <li class="breadcrumb-item active">Lista de Docentes</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <div class="row d-flex">
          <div class="col-md-9 mr-auto p-2">
            <i class="fa fa-table"></i> Tabla | Docentes</div>        
            <a class="btn btn-primary" href="{% url 'teacher:teacher_crear' %}" ><i class="fa fa-plus"></i> Nuevo </a>
            <a class="btn btn-success ml-1" href="{% url 'teacher:teacher_import' %}" ><i class="fa fa-file-excel-o"></i> Importar </a> 
            <a class="btn btn-light ml-1" href="{% url 'teacher:teacher_reporte' %}" target="_blank"><i class="fa fa-file-pdf-o"></i> Reporte </a> 
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th> N° </th>
                  <th>Cédula</th>
                  <th>Docente</th>
                  <th>E-mail</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th> N° </th>
                  <th>Cédula</th>
                  <th>Docente</th>
                  <th>E-mail</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </tfoot>
              <tbody>
              	{% if object_list %}
              	{% for teacher in object_list %}
                <tr>
                  <td>{{ teacher.id_tea }}</td>
                  <td>{{ teacher.dni_tea }}</td>
                  <td>{{ teacher.names_tea }}</td>
                  <td>{{ teacher.email_tea }}</td>
                  <td>{% if teacher.status == 1 %}
                        Activo
                      {% else %}
                        Inactivo
                      {% endif %}
                  </td>
                  <td>
                  	<a class="btn btn-primary" href="{% url 'teacher:teacher_editar' teacher.id_tea %}"> <i class="fa fa-fw fa-edit"></i> </a>
                  	<a class="btn btn-danger" href="{% url 'teacher:teacher_eliminar' teacher.id_tea %}"> <i class="fa fa-fw fa-trash"></i> </a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <h1> No hay registros de Docentes </h1>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Docentes registrados</div>
      </div>
    </div>
    <!-- /.container-fluid-->

{% endblock %}