{% extends 'base/base.html' %}

{% block body %}
{% if validlink %}
<body class="bg-dark">
  
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-body">
        <h6 align="center">Cambiar Contraseña | SICOLAB</h6>
        <form method="post">
          {% csrf_token %}
          <hr >
          <div class="form-group">  
          {{ form.new_password1.errors }}          
            <label for="id_new_password1">Nueva Contraseña</label>
           {{ form.new_password1 }}
          </div>
          <div class="form-group">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme Contraseña</label>
            {{ form.new_password2 }}
          </div>
          <input class="btn btn-primary btn-block" class="text-center"  type="submit" value="Cambiar mi contraseña">
        </form>


      </div>
    </div>
  </div>

</body>
{% else %}
      <h1 class="text-center">Enlace invalido: Este enlace ya fue utilizado</h1>
{% endif %}


{% endblock %}