{% extends 'base/base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Restauracion de Contraseña | SICOLAB</div>
      <div class="card-body">
        <h6 align="center">Sistema de Control de Laboratorios</h6>
        <div align="center"><img src="../../static/images/sicolab_logo.png" width=100 height=100></div>
        <form method="post">
          {% csrf_token %}

          <div class="form-group">       
            <label  for="form.id_email">Correo:</label>
                    {{ form.email }}
            <input class="btn btn-primary btn-block" type="submit" value="Enviar">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}