{% extends 'base/base.html' %}

{% block content %}
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">
	      <div class="card-body">
			<form method="post">
				<div class="form-group">
					{% csrf_token %}
					<h5>¿Desea eliminar el registro de {{ object.get_full_information }} ?</h5>
					<button class="btn btn-danger" type="submit"> Eliminar </button>
					<a class="btn btn-dark" href="{% url 'semester:semester_listar' %}"> Cancelar </a>
				</div>
			</form>
	      </div>
      </div>
    </div>
  </div>
{% endblock %}