{% extends 'base/base.html' %}

{% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home:index' %}">Principal</a>
        </li>
        <li class="breadcrumb-item active">Lista de Administrador</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table | Administrador</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th> N° </th>
                  <th>Cédula</th>
                  <th>Administrador</th>
                  <th>E-mail</th>
                  <th>Contraseña</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th> N° </th>
                  <th>Cédula</th>
                  <th>Administrador</th>
                  <th>E-mail</th>
                  <th>Contraseña</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </tfoot>
              <tbody>
              	{% if object_list %}
              	{% for administrator in object_list %}
                <tr>
                  <td>{{ administrator.id }}</td>
                  <td>{{ administrator.dni_adm }}</td>
                  <td>{{ administrator.password_adm }}</td>
                  <td>{{ administrator.names_adm }}</td>
                  <td>{{ administrator.email_adm }}</td>
                  <td>{% if administrator.status == 1 %}
                        Activo
                      {% else %}
                        Inactivo
                      {% endif %}
                  </td>
                  <td>
                  	<a class="btn btn-primary" href="{% url 'administrator:administrator_editar' administrator.id %}"> <i class="fa fa-fw fa-edit"></i> </a>
                  	<a class="btn btn-danger" href="{% url 'administrator:administrator_eliminar' administrator.id %}"> <i class="fa fa-fw fa-trash"></i> </a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <h1> No hay registros de Administradores </h1>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Administradores registrados</div>
      </div>
    </div>
    <!-- /.container-fluid-->

{% endblock %}