{% extends 'base/base.html' %}

{% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home:index' %}">Principal</a>
        </li>
        <li class="breadcrumb-item active">Lista de Periodos</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <div class="row d-flex">
          <div class="col-md-9 mr-auto p-2">
            <i class="fa fa-table"></i> Tabla | Periodo</div>    
            <a class="btn btn-primary" href="{% url 'stage:stage_crear' %}" ><i class="fa fa-plus"></i> Nuevo </a></div>
        </div>          
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th> N° </th>                 
                  <th>Periodo</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th> N° </th>                 
                  <th>Periodo</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th>Acciones</th>
                </tr>
              </tfoot>
              <tbody>
              	{% if object_list %}
              	{% for stage in object_list %}
                <tr>
                  <td>{{ stage.id_sta }}</td>                  
                  <td>{{ stage.name_sta }}</td>
                  <td>{{ stage.start_date }}</td>
                  <td>{{ stage.end_date }}</td>                  
                  <td>
                  	<a class="btn btn-primary" href="{% url 'stage:stage_editar' stage.id_sta %}"> <i class="fa fa-fw fa-edit"></i> </a>
                  	<a class="btn btn-danger" href="{% url 'stage:stage_eliminar' stage.id_sta %}"> <i class="fa fa-fw fa-trash"></i> </a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <h1> No hay registros de Periodos </h1>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Periodos registrados</div>
      </div>
    </div>
    <!-- /.container-fluid-->

{% endblock %}